@import "variables.css";

* {
    box-sizing: border-box;
}
html{
    /* background-color: var(--main-page-color); */
    background-image: url('../../img/background-blog-page.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#container,
#post-container {
    width: 60%;
    margin: 20px auto;
}

#container h1,
#blog-post{
    padding-left: 40px;
}

h1{
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-style: var(--h1-font-style);
    font-size: var(--h1-font-size);
}

#blog-post{
    padding-bottom: 20px;
    background-color: var(--secondary-page-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
}

a {
    text-decoration: none;
    color: var(--link-text-color);
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-text-color);
}

#main-nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid var(--secondary-border-color);
}

h3{
    margin: 0px;
}

#blog-list li {
    list-style: none;
    width: 100%;
    background-color: var(--secondary-page-color);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
}

.tags,
.date{
    font-weight: 600;
}

.date {
    font-style: italic;
    color: var(--date-text-color);
}