@import "../../css/variables.css";

* {
    box-sizing: border-box;
}

html{
    background-image: url('../../../img/background-img.webp');
    background-size: cover;
    background-attachment: fixed; 
}

#container {
    width: 800px;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: var(--link-text-color);
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-text-color);
}

#main-nav {
    border-bottom: 1px solid var(--secondary-border-color);
}

#main-nav,
#second-nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

h1{
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-style: var(--h1-font-style);
    font-size: var(--h1-font-size);
}

table, tr, td, th {
    background-color: var(--secondary-page-color);
    width: 100%;
    margin-top: var(--main-margin);
    padding: 10px;
}

table{
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
}

tr, td, th{
    text-align: left;
    border-bottom: 2px solid var(--main-border-color);

}

.tags,
.date{
    font-weight: 600;
}


form{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea,
select{
    margin-bottom: var(--main-margin);
    padding: 10px;
    box-shadow: var(--main-box-shadow);
    border: none;
    border-radius: var(--main-border-radius);    
}

#back-link{
    margin-top: var(--main-margin);
}

select{
    overflow: hidden;
}

option:hover,
#update-btn:hover,
#create-btn:hover{
    background-color: rgba(42, 42, 187, 0.692);
}